.main-container {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 90vw;
    display: flex;
    border-radius: 20px;
}
.sidebar-container {
    background-color: aqua;
    flex: 0.3;
    display: flex;
    flex-direction: column;
}
.workarea-container {
    background-color: aqua;
    flex: 0.7;
}
.sb-header {
    background-color: rgb(215, 250, 249);
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.search {
    background-color: rgb(215, 250, 249);
    border-radius: 20px;
    padding: 5px 5px;
    margin: 10px;
    display: flex;
    align-items: center;
}
.search-box {
    outline-width: 0;
    border: none;
    font-size: 1.25;
    background-color: rgb(215, 250, 249);
    margin-left: 10px;
}
.chats {
    background-color: rgb(215, 250, 249);
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    flex: 1;
}